.root {
    -fx-background-color: #383838;
}

.label {
    -fx-text-fill: #BFC4A4;
    -fx-font-family: ".SF NS Display";
    -fx-font-size: 12pt;
}

.buttonIn {
    -fx-background-color: #0F9C62;
    -fx-text-fill: #D8D8D8;
}

.buttonUp {
    -fx-background-color: #BFC4A4;
    -fx-text-fill: #383838;
}

.TextField {
    -fx-background-color: #DEDEDE;
}

.buttonBack {
    -fx-background-color: #383838;
    -fx-graphic: url('/sample/Media/BackIcon.png');
}

.titles {
    -fx-text-fill: #383838;
    -fx-font-family: ".SF NS Display";
    -fx-font-size: 18pt;
}

.titles2 {
    -fx-text-fill: #0F9C62;
    -fx-font-family: ".SF NS Display";
    -fx-font-size: 18pt;
}

.moneyIcon {
    -fx-background-color: #383838;
    -fx-text-fill: #BFC4A4;
    -fx-font-size: 20pt;
    -fx-graphic: url('/sample/Media/MoneyIcon.png');
}

.addButton {
    -fx-background-color: #383838;
    -fx-text-fill: #BFC4A4;
    -fx-font-size: 20pt;
    -fx-graphic: url('/sample/Media/AddIcon.png');
}

.balanceIcon {
    -fx-background-color: #383838;
    -fx-text-fill: #BFC4A4;
    -fx-font-size: 20pt;
    -fx-graphic: url('/sample/Media/BalanceIcon.png');
}

.graphicsIcon {
    -fx-background-color: #383838;
    -fx-text-fill: #BFC4A4;
    -fx-font-size: 20pt;
    -fx-graphic: url('/sample/Media/GraphicsIcon.png');
}

.infoButton {
    -fx-background-color: #383838;
    -fx-text-fill: #BFC4A4;
    -fx-font-size: 16pt;
}